html {
  height: 100%;
  /* this defines what 1rem is 10px in xl & xxl media */
  /* font-size: 62.5%; 1rem = 10px -->  10/16 *100% = 62.5% */
}

body {
  min-height: 100%;
  color: #343a49;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-head {
  width: fit-content;
  background-color: #fff500;
}
.password-random {
  width: 400px;
}
